* {
    margin: 0px;
    padding: 0px;
}

/* GRID AREA */
header {
    grid-area: header;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

nav {
    grid-area: nav;
}

main {
    background-color: lightcyan;
    grid-area: main;
}

footer {
    grid-area: footer;
}

p {
    font-family: tipo2;
    text-align: justify;
    margin: 10px;
}

h1 {
    margin: 10px;
    font-family: tipo1;
    font-size: xx-large;
}

h2 {
    margin: 10px;
    text-align: center;
    font-family: tipo1;
    font-size: xx-large;
}

nav ul li a {
    font-family: tipo2;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
}

main {
    background-color: #51E1DF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

main div {
    display: flex;
    flex-flow: row nowrap;
}

.pack-servicios {
    display: flex;
    flex-flow: row nowrap;
}

main form {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

main form input {
    margin: 10px;
    height: 30px;
    text-align: start;
}

main form button {
    height: 40px;
    margin: 10px;
}

.cuerpo-mensaje {
    height: 300px;
}

footer div a {
    margin: 10px;
}

footer div ul {
    margin: 5px;
    list-style: none;
}

footer div ul li {
    display: inline-block;
}

/* MEDIA QUERY */

@media (min-width: 380px) {
    * {
        padding: 10px;
    }

    .contenedor {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer"
        ;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: larger;
    }

    main {
        background-color: #51E1DF;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    footer {
        background-color: #215C5B;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .img_us {
        width: 25vw;
        height: 25vh;
    }
}

@media (min-width: 1024px) {
    * {
        padding: 0px;
    }

    .contenedor {
        display: grid;
        grid-template-areas:
            "header nav"
            "main main"
            "footer footer"
        ;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        justify-content: right space-between;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        font-size: xx-large;
    }

    footer {
        background-color: #215C5B;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .img_us {
        width: calc(20vw - 1vw);
        height: calc(20vh - 1vh);
    }
}

/* FUENTES */
@font-face {
    font-family: tipo1;
    src: url("../fonts/Helsing.ttf")
}

@font-face {
    font-family: tipo2;
    src: url("../fonts/Strange\ Dreams\ Italic.ttf")
}