* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: yellowgreen;
    grid-area: header;
}

nav {
    background-color: skyblue;
    grid-area: nav;
}   

main {
    background-color: aquamarine;
    grid-area: main;
}

footer {
    background-color: tomato;
    grid-area: footer;
}


p{
    font-family: tipo2;
    text-align: justify;
}

h1{
    margin: 10px;
    font-family: tipo1;
    font-size: xx-large;
}

h2{
    margin: 10px;
    text-align: center;
    font-family: tipo1;
    font-size: xx-large;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

nav ul li{
    padding: 30px;
}

nav ul li a{
    font-family: tipo2;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: none;
    color: #000;
}

main{
    background-color: #51E1DF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between; 
}

main div{
    display: flex;
    flex-flow: row nowrap; 
}

.pack-servicios{
    display: flex;
    flex-flow: row nowrap;
}

main form{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

main form input{
    margin: 10px;
    height: 30px;
    text-align: start;
}

main form button{
    height: 40px;
    margin: 10px;
}

.cuerpo-mensaje{
    height: 300px;
}

footer{
    background-color: #215C5B;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between; 
}

footer div a{
    margin: 10px;
}

footer div ul{  
    margin: 5px;
    list-style: none;
}

footer div ul li{
    display: inline-block;
}

/* MEDIA QUERY */

@media (min-width: 380px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer"
        ;
    }
}

@media (min-width: 1024px){
    .contenedor {
        display: grid;
        grid-template-areas:
            "header nav"
            "main main"
            "footer footer"
        ;
    }    
}   

/* FUENTES */
@font-face {
    font-family: tipo1;
    src: url("../fonts/Helsing.ttf")
}

@font-face {
    font-family: tipo2;
    src: url("../fonts/Strange\ Dreams\ Italic.ttf")
}